<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('./partials/head.ejs') %>
    <title>Smoky-Trout Streams</title>
</head>

<body>

    <h1 id="index-header">SMOKY-TROUT STREAMS</h1>

    <ul class="listedStreams">
        <% for(let i=0; i < streams.length; i++){ %>
            <li>
                <a href="/smokytrout/<%=streams[i].id; %>">
                <div class="index-stream-name"> 
                    <%=streams[i].name;%>
                </div>
                </a></br> 
                <br>
                <a href ="/smokytrout/<%=streams[i].id%>/edit">UPDATE STREAM INFO</a>
            </li>
            <br>
            <br>
      <% } %>        
    </ul>

    <nav>
        <a href="/smokytrout/new">Add New GSMNP Stream</a>
    </nav>
    
</body>
</html>