<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <h1>SMOKY-TROUT STREAMS</h1>

    <ul>
        <% for(let i=0; i < streams.length; i++){ %>
            <li>
                <a href="/smokytrout/<%=streams[i].id; %>">
                    <%=streams[i].name;%>
                </a></br>
                <br>
                <a href="/smokytrout/<%=streams[i].id%>/edit">UPDATE STREAM INFO</a></br>
                <br>
                <br>
            </li>

      <% } %>
            
    </ul>

    <nav>
        <a href="/smokytrout/new">Add New GSMNP Stream</a>
    </nav>
    
</body>
</html>