<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Add GSMNP Stream</title>
</head>
<body>
    <h2>Add A Stream</h2>
    <div class="newBody">
    <form action="/smokytrout" method="POST">
        Name: <input type="text" name="name"/> </br>
        <br>
        Location: <input type="text" name="location"/> </br>
        <br>
        Fishing Quality: <input type="text" name="fishing_quality"/> </br>
        <br>
        Accessibility: <input type="text" name="accessibility"/> </br>
        <br>
        Recommended Flies: <input type="text" name="recommended_flies"/> </br>
        <br>
        About This Stream: <textarea type="textarea" class="aboutInput" name="about_this_stream"></textarea> <br/>
        <br>
        <br>
        ImgIndex: <input type="url" name="imgIndex"/> <br/>
        <br>
        ImgOne: <input type="url" name="imgOne"/> <br/>
        <br>
        ImgTwo: <input type="url" name="imgTwo"/> <br/>
        <br>
        ImgThree: <input type="url" name="imgThree"/> <br/>
        <br>
        <input type="submit" name="" value="ADD STREAM"/>
    </form>
</div>
<br>
<br>
<footer>
    <%- include ('./partials/footer.ejs') %>
</footer>
</body>
</html>